

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Signin</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Areas/Admin/assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/Areas/Admin/assets/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/assets/js/bootstrap-validate.js"></script>
    <style>
        .containerPage {
            display: flex;
            flex-direction: row;
        }

        .leftPage {
            display: flex;
            width: 250px;
            height: 100vh;
            background-color: #242939;
            color: #dfe0e2;
            flex-direction: column;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100
        }

        .rightPage {
            margin-left: 250px;
            display: flex;
            color: #4a4c69;
            background-color: #f2f3f8;
            flex-direction: column;
            width: 100%;
        }

        .iconCustom {
            width: 24px;
            height: 24px;
            fill: white;
        }

        .headerTopBar {
            display: flex;
            background-color: #ffffff;
            height: 50px;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            padding: 20px;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 1;
        }

        a:hover, a:focus, a:active {
            text-decoration: none;
            color: #dfe0e2;
        }

        .tabCutom {
            width: 150px;
            color: #dfe0e2;
        }

        .txtLink {
            color: #dfe0e2;
        }

        .renderBody {
            min-height: 100vh;
            margin-top: 50px;
        }
    </style>
</head>
<body class="containerPage">
    <div class="leftPage">
        <div class="container-fluid">
            <h3>Welcome back, @Session["username"]</h3>
        </div>
        <!------------------------------------------------------------------------------------>
        <!---------------------------------------NAVBAR--------------------------------------->
        <!------------------------------------------------------------------------------------>
        <nav class="navbar navbar-default">

            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h4 class="text-white">Collapsed content</h4>
                    <span class="text-muted">Toggleable via the navbar brand.</span>
                </div>

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                asdfasdfkjhsadkfj
            </button>

        </nav>
    </div>
    <div class="rightPage">
        <div class="headerTopBar">
            <a href="@Url.Action("Logout", "AdminAccount")">
                Logout &nbsp;
                <img height="24" width="24" src="~/Areas/Admin/assets/images/icon/logout.svg" />
            </a>
        </div>
        <div class="renderBody">
            @RenderBody()
        </div>

    </div>


</body>
</html>