
@{
    ViewBag.Title = "InsertFail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .errContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .txtFail {
        margin-bottom: 56px;
    }
</style>
<div class="errContainer">
    <h2 class="txtFail">Some thing was wrong, please try again</h2>
    <img height="240" width="240" src="~/Areas/Admin/assets/images/icon/error.svg" />
</div>


