@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Liên hệ</h3>
<p style="font-size: 16px">
    Khoa CNTT - Học Viện Kỹ Thuật Quân Sự <br />
    Địa chỉ: 236 Hoàng Quốc Việt - Nghĩa Tân - Cầu Giấy - Hà Nội  <br />
    Đặt vé: 1900 1686 - 0888 123 459. <br />
    Góp ý: 0366 136 885 <br />
    Email: xekhach.vn@gmail.com <br />
</p>

