@{
    Layout = null;
}

@using Lesson_12___Login_with_Session.Security

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div>
        Welcome @SimpleSessionPersister.Username - <a href="@Url.Action("Logout", "Account")">Logout</a>
    </div>
</body>
</html>