
@{
    ViewBag.Title = "Insert";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .container {
        margin-top: 30px;
        padding-bottom: 130px;
    }
    .form-control {
        width: 500px;
    }
    .form-group {
        width: 500px;
    }
</style>
<div class="container">
    <h2>Insert new Shoes</h2>
    <form>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" id="shoesName" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" id="shoesDescription" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input type="file" class="form-control-file" id="shoesImage" />
        </div>
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" id="shoesCategory">
                <option>Transport</option>
                <option>Soccer</option>
            </select>
        </div>
        <div class="form-group">
            <label>Vendor</label>
            <select class="form-control" id="shoesVendor">
                <option>Bitis</option>
                <option>Thuong Dinh</option>
            </select>
        </div>
        <div class="form-group">
            <label>Price</label>
            <div class="input-group">
                <input type="number" class="form-control" id="shoesPrice" />
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" id="btnSubmit">Submit</button>
    </form>
</div>
@if(ViewBag.message == "Success")
{
    <div>Send Succeess</div>
}
<script>
    bootstrapValidate('#shoesName', 'required: Please enter the name of the shoes');
    bootstrapValidate('#shoesPrice', 'required: Please enter the price of the shoes');
    $("#btnSubmit").click(() => {
        console.log("Onclick")
    })
</script>