<div class="menu-trai-admin">
    <h3>Danh Mục</h3>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><b>Tài Khoản</b></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="list-group">
                    <a href="/Admin/listTaiKhoan" class="list-group-item">Danh Sách Tài Khoản</a>
                    <a href="/Admin/ThemTaiKhoan" class="list-group-item">Thêm Mới Tài Khoản</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><b>Hãng Xe</b></a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="list-group">
                    <a href="/Admin/listHangXe" class="list-group-item">Danh Sách Hãng Xe</a>
                    <a href="/Admin/ThemHangXe" class="list-group-item">Thêm Mới Hãng Xe</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><b>Xe Khách</b></a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="list-group">
                    <a href="/Admin/listXeKhach" class="list-group-item">Danh Sách Xe Khách</a>
                    <a href="/Admin/ThemXeKhach" class="list-group-item">Thêm Mới Xe Khách</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><b>Chuyến Xe</b></a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="list-group">
                    <a href="/Admin/listChuyenXe" class="list-group-item">Danh Sách Chuyến Xe</a>
                    <a href="/Admin/ThemChuyenXe" class="list-group-item">Thêm Mới Chuyến Xe</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><b>Phương Thức Thanh Toán</b></a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="list-group">
                    <a href="/Admin/listPTTT" class="list-group-item">Danh Sách Phương Thức TT</a>
                    <a href="/Admin/ThemPTTT" class="list-group-item">Thêm Mới Phương Thức TT</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"><b>Thông Tin Đặt Vé</b></a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="list-group">
                    <a href="/Admin/listTTDatVe" class="list-group-item">Danh Sách Vé Đã Đặt</a>
                    <a href="/Admin/ThemTTDatVe" class="list-group-item">Thêm Mới Vé</a>
                </div>
            </div>
        </div>
    </div>
</div>