<div class="footer">
    <div class="wrap-footer">
        <div class="cot-footer">
            <h4>VỀ CHÚNG TÔI</h4>
            <ul>
                <li><a href="#">Về chúng tôi</a></li>
                <li><a href="#">Tuyển dụng</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">Phần mềm nhà xe</a></li>
            </ul>
        </div>
        <div class="cot-footer">
            <h4>HỖ TRỢ</h4>
            <ul>
                <li><a href="#">Các quy định</a></li>
                <li><a href="#">Câu hỏi thường gặp</a></li>
                <li><a href="#">Cơ chế giải quyết tranh chấp</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
            </ul>
        </div>
        <div class="cot-footer">
            <h4>Liên Hệ</h4>
            <ul>
                <li><a href="#">HOTLINE: 19008868</a></li>
                <li><a href="#">Email: xekhach.vn</a></li>
            </ul>
            
        </div>
        <div class="cot-footer">
            <div class="fanpage">
                <h4>HÌNH THỨC THANH TOÁN</h4>
                <ul>
                    <li><img src="~/Content/images/master-icon.png" /></li>
                    <li><img src="~/Content/images/napas-icon.png" /></li>
                    <li><img src="~/Content/images/visa-icon.png" /></li>
                </ul>
            </div>
        </div>
        </div>
    </div>