<div class="wrap1 header_slide">
    <div class="header_bottom_left">
        <div class="danh-muc">
            <h3>Danh Mục</h3>
            <ul class="danh-muc-lst">
                <li><a href="/ThongTinCaNhan/ThongTinCaNhan">Thông Tin Cá Nhân</a></li>
                <li><a href="/ThongTinCaNhan/LichSuDatVe">Lịch Sử Đặt Vé</a></li>
                <li><a href="#">In Báo Cáo</a></li>
                <li><a href="#">Thống Kê</a></li>
            </ul>
        </div>
    </div>
</div>

